body{
   background-color: 	#778899;
   
}

.button{
    
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    margin :13 px;
 }
 .btn{
    margin:13px;
 }