body{
    background-color: 	#778899;
    
 }
 h2{
    text-align: center;
    margin-top: 5 px;;
    font-size: 3em;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards ;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
 .button{
    
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    margin :13 px;
 }
 .btn{
    margin:13px;
 }